
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kanit&family=Roboto:ital@1&display=swap');

*{margin: 0;
    padding: 0;
    
}



/* Encabezado  */

header{
    min-height: 150px;
    font-size: 16px;
    font-weight: 300;
    background-color: white;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}

.logo{
    display: flex;
    align-items: center;
}


.logo img{
    height: 150px;
    margin-right: 10px;
}

header a{
    text-decoration: none;
    color:black;
}

nav{
    padding: 20px;
    border: 1px solid black;
   

}
nav a{
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
    padding: 20px;
    color: black;
    font-family: 'Oswald', sans-serif;
}

nav a:hover{
    color: white;
    background-color: blue;
    border-radius: 5px;
}

.hide{
    font-size: 22px;
    padding: 16px;
    cursor: pointer;
    display: none;
}


/* footer */

footer{
    background-color: lightgreen;
    text-align: center;
    width: 100%;
    height: 200px;
}

.redes{
   width: 100%;
   height: auto;
   text-align: center;
   font-size: 30px;
   letter-spacing: 10px;
   color: blue;
   text-shadow: 0 0 5px #000;
   padding-top: 20px;
}

.redes a:hover{
   color: darkred;
}
.dir{
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
}

 /* main productos */

.titindex{
background-color: blue;
text-align: center;
font-family: 'Oswald', sans-serif;
padding: 0;
margin: 0;
color: white;
text-shadow: 0px 0px 5px black;
font-size: 30px;
padding: 10px;
}

.productoprinc{
    background-color: white;
    background-size: cover;
}

.producto{
    font-size: 30px;
    color: black;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.subproducto{
    font-size: 20px;
    color: black;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.gral{
    width: 100%;
    height: 570px;
    padding: 0px 20px 0px 20px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 300px);
}

.gral2{
    width: 100%;
    height: 1000px;
    padding: 0px 20px 0px 20px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 300px);

}

.galeriap{
    margin: 10px 20px;
    width: 350px;
    padding: 20px;
}
.galeriap img{
    width: 100%;
    height: auto;
 
}
.galeriap p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
    text-shadow: 2px 2px 5px red;
}

.galeriap:hover{
    transform: scale(1.10);
    transition: all 1.5s;
    filter: grayscale(100%);
}



@media only screen and (max-width: 479px){


    header{
        flex-direction: column;
    }

    .logo img{
        font-size: 15px;
        height: 120px;
        margin-right: 10px;
    }
    
    header a h1{
        font-size: 18px; 
    }

    nav a{
        width: 100%;
        display: none;
        text-align: center;
        padding: 20px;
    }

    .hide{
        display: block;
        font-size: 30px;
    }

    .gral{

       
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 300px);
    
    }
    
    .gral2{
        
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 300px);
       
    }

    .galeriap img{
        width: 60%;
        height: auto;
   
    }
    .galeriap p{
        text-align: left;
        font-size: 12px;

    }
}


@media only screen and (min-width: 480px) and (max-width: 900px){


    nav a{
        width: 100%;
        display: none;
        text-align: center;
        padding: 20px;
    }

    .hide{
        display: block;
        font-size: 30px;
    }


    .gral{

       
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 300px);
    
    }
    
    .gral2{
        
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 300px);
       
    }

    .galeriap{
        margin: auto;
    }
     

}


    
@media only screen and (min-width: 900px)and (max-width: 1200px){

    .gral{

        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 300px);
    
    }
    
    .gral2{
        
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 300px);
       
    }




}


  
