
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kanit&family=Roboto:ital@1&display=swap');


*{margin: 0;
    padding: 0;

}


/* Encabezado  */

header{
    min-height: 150px;
    font-size: 16px;
    background-color: white;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}

.logo{
    display: flex;
    align-items: center;
}


.logo img{
    height: 150px;
    margin-right: 10px;
}

header a{
    text-decoration: none;
    color:black;
}

nav{
    padding: 20px;
    border: 1px solid black;
   

}
nav a{
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
    padding: 20px;
    color: black;
    font-family: 'Oswald', sans-serif;
}

nav a:hover{
    color: white;
    background-color: blue;
    border-radius: 5px;
}

.hide{
    font-size: 22px;
    padding: 16px;
    cursor: pointer;
    display: none;
}
/* footer */

footer{
    background-color: lightgreen;
    text-align: center;
    width: 100%;
    height: 200px;
}

.redes{
   width: 100%;
   height: auto;
   text-align: center;
   font-size: 30px;
   letter-spacing: 10px;
   color: blue;
   text-shadow: 0 0 5px #000;
}

.redes a:hover{
   color: darkred;
}
.dir{
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
}

 /* main Contacto */


 
 .contacto{
    width: 100%;
    height: 1000px;
    background-color: blue;
    color: white;
    overflow: auto;
  }

 .contactosa{
    padding-left: 350px;
    padding-top: 10px;
 }
 .contactosa h1{
    font-size: 30px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.mapouter{
    margin: auto;
}


.mapouter{
    position:relative;
    text-align:right;
    width:600px;
    height:400px;}

.gmap_canvas{
    overflow:hidden;
    background:none!important;
    width:600px;
    height:400px;}

.gmap_iframe {
    width:600px!important;
    height:400px!important;}




@media only screen and (max-width: 479px){


    header{
        flex-direction: column;
    }

    .logo img{
        font-size: 15px;
        height: 120px;
        margin-right: 10px;
    }
    
    header a h1{
        font-size: 18px; 
    }

    nav a{
        width: 100%;
        display: none;
        text-align: center;
        padding: 20px;
    }

    .hide{
        display: block;
        font-size: 30px;
    }

    .contactosa{
        padding-left: 10px;
     }
    
     .gmap_canvas {
        width:250px!important;
        height:300px!important;
    
    }

}








@media only screen and (min-width: 480px) and (max-width: 767px){
  
    nav a{
        width: 100%;
        display: none;
        text-align: center;
        padding: 20px;
    }

    .hide{
        display: block;
        font-size: 30px;
    }

    .contactosa{
        padding-left: 10px;
     }

     .gmap_canvas {
    width:400px!important;
    height:300px!important;}

}

    
